<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stockin" href="/tabs/stockin">
      <ion-icon aria-hidden="true" name="arrow-down-outline"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stockout" href="/tabs/stockout">
      <ion-icon aria-hidden="true" name="arrow-up-outline"></ion-icon>
      <ion-label>Salidas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
