<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Salidas {{ empresa | titlecase }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed-slot-placement="before">

  <ion-searchbar clearIcon="close-outline" [(ngModel)]="searchTerm" (input)="searchProducts()"
    (ionClear)="resetList()"></ion-searchbar>
  @if(filteredProducts.length > 0){
  <ion-list [inset]="true">
    @for (product of filteredProducts; track $index) {
    <ion-item-sliding>
      <ion-item [button]="true" (click)="presentAlert(product)">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" [src]="'http://192.168.0.174:8000/' + product.imagen" />
        </ion-avatar>
        <ion-label>
          <h2>{{ product.nombre }}</h2>
          <!-- <p>Cantidad en stock: <span style="color: green;">{{ product.stock }}</span></p> -->
        </ion-label>
      </ion-item>
    </ion-item-sliding>
    }
  </ion-list>
  }@else {
  <h3 class="ion-text-center">No hay productos disponibles, ve al tab de productos para añadir uno!</h3>
  }
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="right: 3rem;" (click)="openCart()">
    <ion-fab-button>
      @if(cart().length > 0)
      {
      <span class="stockOut">{{ cart().length }} </span>
      }
      <ion-icon name="basket"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>