<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Salidas {{ empresa | titlecase }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed-slot-placement="before">

  <ion-searchbar clearIcon="close-outline" [(ngModel)]="searchTerm" (input)="searchProducts()"
    (ionClear)="resetList()"></ion-searchbar>

  @if (filteredProducts) {
  <ion-accordion-group expand="multiple" style="width: 95%!important; margin: 0 auto!important;" [value]="expandedCategories">
    @for (category of filteredProducts | keyvalue; track $index) {
    <ion-accordion [value]="category.key">

      <ion-item slot="header">
        <ion-label>{{ category.key }}</ion-label>
      </ion-item>

      <div slot="content">
        @for (product of category.value; track $index) {
        <ion-item [button]="true" (click)="presentAlert(product)">
          <ion-avatar slot="start">
            @if (product.imagen) {
            <img [src]="urlBase + product.imagen" alt="" />
            } @else {
            <img [src]="urlBase + 'media/productos/default.jpg'" alt="" />
            }
          </ion-avatar>

          <ion-label>
            {{ product.nombre }}
            <p style="font-size: small;">Productos disponibles: {{ product.stock }}</p>
            <p>{{ product.CostoUnitario | currency }}</p>
          </ion-label>

          <!-- <ion-button slot="end" color="light">
            <ion-icon slot="icon-only" name="pencil" color="warning"></ion-icon>
          </ion-button>
          <ion-button slot="end">
            <ion-icon slot="icon-only" name="trash" style="color: var(--ion-color-red);"></ion-icon>
          </ion-button> -->
        </ion-item>
        }
      </div>

    </ion-accordion>
    }
  </ion-accordion-group>

  }
  @else {
  <h3 class="ion-text-center">No hay productos disponibles, añade uno!</h3>
  }
</ion-content>