ion-fab-button{
    --box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    --background: #2E7D32;    
    --color: #FFFFFF;    
}


.stockOut{
    position: absolute;
    top: 10%;
    right: 15%;
    background-color: red;
    border-radius: 50%;
    width: 1rem;
}