<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Entradas {{ empresa | titlecase }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar clearIcon="close-outline" [(ngModel)]="searchTerm" (input)="searchProducts()"
    (ionClear)="resetList()"></ion-searchbar>
  @if(filteredProducts.length > 0){
  <ion-list [inset]="true">
    @for (product of filteredProducts; track $index) {
    <ion-item-sliding>
      <ion-item [button]="true" (click)="editStock(product)">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" [src]="'http://192.168.0.174:8000/' + product.imagen" />
        </ion-avatar>
        <ion-label>{{ product.nombre }}</ion-label>
        <!-- <ion-button slot="end">
          <ion-icon slot="end" name="pencil" color="warning"></ion-icon>
        </ion-button>
        <ion-button slot="end">
          <ion-icon slot="end" name="trash" color="danger"></ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-item-sliding>
    }
  </ion-list>
  }
  @else {
  <h3 class="ion-text-center">No hay productos disponibles, ve al tab de productos para añadir uno!</h3>
  }
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="right: 3rem;" >
    <ion-fab-button>
      Añadir nuevo producto
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>