<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Productos {{ empresa | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar clearIcon="close-outline" [(ngModel)]="searchTerm" (input)="searchProducts()"
    (ionClear)="resetList()"></ion-searchbar>

  @if (filteredProducts.length > 0) { <ion-list [inset]="true">
    @for (product of filteredProducts; track $index) {
    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" [src]="'http://192.168.0.174:8000/' + product.imagen" />
        </ion-avatar>
        <ion-label>{{ product.nombre }}</ion-label>
        <!-- <ion-button slot="end">
          <ion-icon slot="end" name="pencil" color="warning"></ion-icon>
        </ion-button>
        <ion-button slot="end">
          <ion-icon slot="end" name="trash" color="danger"></ion-icon>
        </ion-button> -->
      </ion-item>
      <ion-item-options slot="end" (click)="editProduct(product)">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
    </ion-list>
    }
    @else {
    <h3 class="ion-text-center">No hay productos disponibles, añade uno!</h3>
    }
    <ion-button expand="block" color="success" (click)="addProduct()">Añadir Nuevo producto <ion-icon
        name="add"></ion-icon></ion-button>
</ion-content>