.left-container {
    display: flex;
    flex-direction: column;
    height: 88vh;

    ion-card {
        flex: 1 1; // 🧠 Aquí está la magia
        overflow: auto; // si tiene mucho contenido dentro
    }
}

*{
    text-align: center;
}

ion-toggle{
    --track-background: rgb(218, 164, 164);
  --track-background-checked: #b1cffc;

  --handle-background: #eb7769;
  --handle-background-checked: #8f9be2;
}