<ion-header [translucent]="true">
  <ion-toolbar style="display: flex; flex-direction: row;">
    <ion-title style="margin-bottom: 1rem;"> {{ title | titlecase }}</ion-title>
    <ion-toggle (ionChange)="onToggleChange($event)" aria-label="Enable Notifications" style="padding-right: 1rem;"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex;">

    <div class="left-container">
      <ion-card button="true">
        <ion-card-header>
          <ion-card-title>Bajos de Stock</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="alert-circle-outline" style="font-size: 5rem"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card button="true">
        <ion-card-header>
          <ion-card-title>Revisar Productos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="cube-outline" style="font-size: 5rem"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card button="true">
        <ion-card-header>
          <ion-card-title>Revisar Datos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="reader-outline" style="font-size: 5rem"></ion-icon>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card style="width: 60%; max-height: 86vh; overflow-y: scroll!important;" button="true">
      <ion-card-header>
        <ion-card-title>
          Añadir entradas
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-list> -->
          @for (item of items; track $index) {
            <ion-item button="true" lines="none" style="margin-bottom: .5rem; border-radius: 5px;" (click)="stockin(item)">               
              <i class="bi bi-box-seam-fill"></i>
              <ion-label>{{ item.nombre | titlecase }}</ion-label>
              <ion-label> <span style="font-size: small;">Cantidad:</span> {{ item.cantidad }}</ion-label>
            </ion-item>
          }            
        <!-- </ion-list> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>