.item-flex-row {
    display: flex;
    flex-direction: row;
    ion-icon{
        color: green;
        font-size: 1.5rem;
        align-self: end;
        transition: ease-in .2s;
        margin-left: 1rem;
    }
    
    ion-button{
        margin-top: 1rem;
    }

   
}