<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.modalCtrl.dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll="true" style="overflow-y: auto!important;">
  <form [formGroup]="productForm" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre" required placeholder="Nombre del Producto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Imagen (URL)</ion-label>
      <ion-input formControlName="imagen"></ion-input>
    </ion-item>

    @if(isNew || isEdit){

    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select formControlName="idCategoria" placeholder="Selecciona la categoría">
        @for (category of categories(); track $index) {
        <ion-select-option [value]="category.id">
          {{ category.nombre }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Unidad de Medida</ion-label>
      <ion-input formControlName="unidadMedida"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Stock Mínimo</ion-label>
      <ion-input type="number" formControlName="stockMinimo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Color</ion-label>
      <ion-input formControlName="color"></ion-input>
    </ion-item>
    }

    <!-- <ion-item>
      <ion-label position="stacked">Piezas en stock</ion-label>
      <ion-input formControlName="stock" required
        [errorText]="'No puedes reducir el stock por debajo de ' + productForm.get('Stock')?.getError('minStock')?.requiredMin"></ion-input>
    </ion-item> -->

    @if (isStockin || isStockout) {
    <ion-item>
      <ion-label position="stacked">Costo Unitario</ion-label>
      <ion-input type="number" formControlName="costoUnitario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Proveedor</ion-label>
      <ion-input formControlName="proveedor" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" formControlName="cantidad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Recibió</ion-label>
      <ion-input formControlName="recibio" required></ion-input>
    </ion-item>
    }

    <ion-button expand="block" type="submit" [disabled]="productForm.invalid">
      Guardar Producto
    </ion-button>
  </form>
</ion-content>