.item-flex-row {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        ion-icon {
            color: green;
            font-size: 1.5rem;
            align-self: center;
            transition: ease-in .2s;
            margin-left: .5rem;
        }
    }

}

ion-button{
    height: 2.8rem;
}